<div class="jumbotron text-center text-custom-color-darkbrown">
    <h1 class="display-3">{{title}} 📃</h1>
    <p class="lead">Log in to manage your tasks to be done</p>
    <a href="/users/login" class="btn btn-dark btn-lg">Login</a>
</div>